.card-container{
    display:flex;
    flex-direction: column;
    background-color: #c8a2c8;
    color:#5d7a76;
    border:1px solid white;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}
.card-container:hover{
    transform: scale(1.05);
}